<?xml version="1.0" encoding="UTF-8"?>
<!--
  All logging goes to stderr, for child render process to log via stderr connection to parent
-->
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
