*.blend1
.classpath
.netlify
.project
/.gradle/
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/kotlinScripting.xml
/.idea/sonarlint
/.idea/sqldialects.xml
/.settings
/bin
/build/
/build/classes/java/main/
/install/
/javadoc
/src/main/resources/Assets/.jmonkeybuilder
/src/main/resources/Assets/.jmonkeybuilder/*
/src/main/resources/build.txt
/src/main/resources/dependency-license.html
/src/main/resources/dependency-license.json
/src/main/resources/version.txt
OpenAL64.dll
cleanmidi.csv
liblwjgl64.so
libopenal64.so
lwjgl64.dll
midi.csv
midicsv
midicsv.exe
midis2jam2.conf
midis2jam2.ini
settings.json
local.properties
app/src/commonMain/resources/*
app/src/androidMain/assets/*
app/src/commonMain/composeResources/values/build.xml
app/src/commonMain/composeResources/files/THIRD-PARTY-NOTICES.txt