# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
midi.csv
cleanmidi.csv
liblwjgl64.so
libopenal64.so
lwjgl64.dll
OpenAL64.dll
midicsv
midicsv.exe
/src/main/resources/version.txt
/install/
midis2jam2.conf
midis2jam2.ini
/javadoc
/.idea/sonarlint
settings.json
*.blend1
.classpath
.project
/bin
/.settings
/src/main/resources/dependency-license.html
.netlify
.netlify